In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
#data.head()

In [4]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [5]:
corpus=[]
ps = PorterStemmer()
for i in range(len(data['tweet'])):
    reviews = re.sub('[^a-zA-z]', ' ', data['tweet'][i])
    reviews = reviews.lower()
    reviews = reviews.split()
    reviews = [ps.stem(word) for word in reviews if not word in set(stopwords.words('english'))]
    
    reviews = " ".join(reviews)
    corpus.append(reviews)

In [6]:
###reviews = re.sub("[^a-zA-z]", " ", data['tweet'][1])
#reviews = reviews.lower()
#reviews = reviews.split()
#reviews

In [7]:
#data['tweet'][1]

In [8]:
clean_data = pd.DataFrame(corpus,columns=['tweet'])

In [9]:
clean_data['label '] = data['label']

In [10]:
clean_data.head()

                                               tweet  label
0  user father dysfunct selfish drag kid dysfunct...       0
1  user user thank lyft credit use caus offer whe...       0
2                                     bihday majesti       0
3                        model love u take u time ur       0
4                            factsguid societi motiv       0

In [11]:
clean_data['id'] = data['id']

In [12]:
clean_data.head()

                                               tweet  label   id
0  user father dysfunct selfish drag kid dysfunct...       0   1
1  user user thank lyft credit use caus offer whe...       0   2
2                                     bihday majesti       0   3
3                        model love u take u time ur       0   4
4                            factsguid societi motiv       0   5

In [13]:
#clean_data.to_csv('clean_data.csv',index = False)

In [14]:
#data = pd.read_csv('test.csv')

In [15]:
#data.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [17]:
clean_data['tweet'].isnull().sum()

0

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidvect = TfidfVectorizer(analyzer = 'word' , max_features=100000)
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(clean_data['tweet'],clean_data['label '])

KeyError: 'label '